#transcriptMessages .message-panel{
  background-color: #fff;
  box-shadow: none;
  border: none;
  margin-bottom: 4px;
  padding-bottom: 0;
  margin-top: 0;
  overflow-x: scroll !important;
}


#transcriptMessages .panel-heading {
	background-color: #fff;
	margin-top: 0;
	padding-top: 0;
}

#transcriptMessages .text {
	overflow-x: auto;
}

#transcriptMessages .panel-heading small {
	color: #5d5d5d;

}


.question-panel {
	border-radius:  0;
}

.question-panel .panel-heading {
	color: #fff;
	font-weight: bold;
	background-color: #1A458E !important;	
}

.question-panel .panel-footer {
	background-color: #dedede;
}

.question-panel .panel-body {
	font-size: 17px;
	color: #000;
}


.nav-tabs > li > a {
    
    font-size: 14px;

    }


