.menuzord-brand img {
    max-height: 70px;
}

.menuzord-brand  {
    margin-top: 0px;
}

.mi, .mo {
	color: #000;
}

.wikiOfDay .mi, .wikiOfDay .mo{
    color: #fff;
}

.markdown-body {
	color: #000;
}

.course-single-item p {

	font-size: 20px;
}


.c-description ol {
    list-style-type: decimal;
    padding-left: 35px;
}

.c-description ul {
    list-style-type: disc;
    padding-left: 35px;
}

.c-description a {
    color: #1A458E !important;
}