.problem-week {
	border-top: 9px solid #1A458E !important;
}

.problem-week .card-body{
	padding: 0.25rem;
}

.problem-week .slickQuiz {
	margin-top: 0px;
	border: none;
}


.quiz-question-links li{
  
    border: 1px solid #1A458E;
    width: 0px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    border-radius: 40%;
    margin-left: 10px !important;

}

.quiz-question-links li a:hover {
	text-decoration: none !important;
	color: #fff !important;
}

.quiz-question-links li a:focus{
	text-decoration: none !important;
}

.quiz-question-links li.active a {
	color: #fff !important;
	text-decoration: none !important;
}

.quiz-question-links li.active {
	color: #fff !important;
	text-decoration: none !important;
	background:#1A458E;
}

.quiz-question-links li:hover  {
	color: #fff !important;
	text-decoration: none !important;
	background:#1A458E;
}

.quiz-question-links li:hover a {
	color: #fff !important;
	text-decoration: none !important;
}


.week-selector {
	background: transparent;
	border: 1px solid #000;
	color: #000 !important;
	height: 25px;
}

.week-selector:focus {
	background: transparent;
	border: 1px solid #000;
	color: #000 !important;
}

.problem-week .slickQuiz ol.questions {
    width: 100%;
    margin-top: 0px;
    margin-left: 0;
    float: left;
}


.slickQuiz .correctAns, .slickQuiz .incorrectAns
{
	font-size: 22px;
	font-weight: bold;
	margin-left: 0px !important;
}






.p-week-title {
	font-weight: bold;
}


.problem-week .slickQuiz .btn {
	border-radius: 0;
	margin: 2px;
}

.problem-week .slickQuiz .btn.btn-primary {
	background-color: #1A458E !important;
}


